/connector/local.properties
/connector/connector.iml
gradlew
gradlew.bat
settings.gradle
gradle.properties
build.gradle
gradle
build
.idea
.gradle
app.iml
proguard-rules.pro
test
androidTest
mipmap-hdpi
mipmap-mdpi
mipmap-xhdpi
mipmap-xxhdpi
mipmap-xxxhdpi
values
